*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* header styles */
.banner-container{
    background-image: url('../images/banner/banner2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.banner{
    padding: 300px 250px 166px 1100px;
    text-align: right;
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    text-align: right;
}
.banner-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    padding: 24px 0 32px 30px;
}
.primary-button{
    color: #FFFFFF;
    background: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    padding: 22px 26px;
    border: none;
}

/* improvements and failures section styles */
.failures-container, .improvements-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin: 65px 250px;
}
.improvements-info, .failures-info{
    padding-top: 200px;
}
.section-title{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 24px;
}
.section-description{
    font-size: 16px;
    font-weight: 400;
    color: #444343;
    margin-bottom: 16px;
}
.failure-list, .improvement-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
ul li{
    font-size: 18px;
    list-style: none;
}

/* my plans styles */
.plans-container{
    text-align: center;
    margin-top: 130px;
}
.my-plans{
    display: flex;
    justify-content: space-around;
    margin: 50px 230px 0;
}
.plan-title{
    font-size: 30px;
    font-weight: 700;
    margin: 24px 0 16px;
}
.plan-sub-title{
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

/* positive mindset styles */
.positive-mindset-container{
    background-image: url('../images/gradients/gradient2.png'), url('../images/photos/watch.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    margin: 125px 338px;
}
.positive-mindset{
    padding: 59px 617px 59px 64px;
}
.positive-mindset .section-title{
    color: #FFFFFF;
}
.positive-mindset .primary-button{
    color: #F15B22;
    background-color: #FFFFFF;
    padding: 20px 36px;
}

/* footer styles */
.footer-container{
    background: #151414;
}
.social-links{
    display: flex;
    gap: 331px;
    padding: 130px 230px;
}
.social-links .section-title{
    color: #FFFFFF;
}
.social-links .section-description{
    color: #FFFFFF;
}
.email{
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF;
    margin-bottom: 16px;
}
.phone{
    font-size: 16px;
    font-weight: 200;
    color: #FFFFFF;
    margin-bottom: 32px;
}
.icons img{
    margin-right: 18px;
}
.subscribe-title{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 31px;
}
.social-links .primary-button{
    color: #F15B22;
    background-color: #FFFFFF;
    padding: 20px 36px;
    margin-top: 16px;
}
.subscribe-section input{
    border: 1px solid #FFFFFF;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 400;
    padding: 22px 158px 22px 20px;
    background: #151414;
}
.footer-title{
    color: #FFFFFF;
    text-align: center;
    padding-bottom: 10px;
}