*{
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}
/* header styles */
header{
    background-image: url('../images/banner/banner2.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    /* margin-bottom: 130px; */
}
.banner{
    padding: 300px 250px 166px 1100px;
    text-align: right;
}
.banner-title{
    font-size: 65px;
    font-weight: 700;
    text-align: right;
}
.banner-description{
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    padding: 24px 0 32px 30px;
}
.contact-button{
    color: #FFFFFF;
    background: #F15B22;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    padding: 22px 26px;
    border: none;
}

/* failures section styles */

